---
---
<div class="contact-container m-5 px-5 pt-5 grid rounded-md bg-white border-4 border-black shadow-black shadow-lg">
    <form id="contact-form" class="grid gap-4">
        <label>Name</label>
        <input class="m-5 h-10 rounded-md border-black border-4" type="text" name="user_name">
        <label>Email</label>
        <input class="m-5 h-10 rounded-md border-black border-4" type="email" name="user_email">
        <label>Message</label>
        <textarea class="m-5 h-40 rounded-md border-black border-4" name="message"></textarea>
        <input class="m-5 h-10 rounded-md border-black border-4 hover:bg-slate-200" type="submit" value="Send">
    </form>
    <p id="status"></p>
</div>

<script>
    window.onload = async function() {
        const emailjs = (await import('@emailjs/browser')).default;
        emailjs.init({
            publicKey: 'zB2S6YhfIovzRCaUq',
        });
        const formElement = document.getElementById('contact-form');
        formElement?.addEventListener('submit', function(event) {
            event.preventDefault();
            const statusElement = document.getElementById('status');
            if (statusElement) {
                statusElement.textContent = 'Sending...';
            }
            // these IDs from the previous steps
            emailjs.sendForm('contact_service', 'contact_form', formElement as HTMLFormElement)
                .then(() => {
                    const statusElement = document.getElementById('status');
                    if (statusElement) {
                        statusElement.textContent = 'Email sent successfully!';
                        statusElement.classList.add('m-5');
                    }
                    const contactForm = document.getElementById('contact-form') as HTMLFormElement;
                    contactForm?.reset();
                }, (error) => {
                    const statusElement = document.getElementById('status');
                    if(statusElement) {
                        statusElement.textContent = 'Something went wrong! Please try again.'
                    }
                });
        });
    }
</script>