---
const {title, company, location, date, description} = Astro.props
---
<div class="experience mx-5 mt-5 p-5 grid grid-cols-4 rounded-md border-black border-4 bg-white shadow-black shadow-lg">
    <div class="col-span-1 content-center">
        <h4 class="text-sm text-gray-600">{date}</h4>
    </div>
    <div class="col-span-3 mx-2 content-center">
        <h2 class="text-xl font-bold">{title}</h2>
        <h3 class="text-lg text-gray-500 mb-2">{company}</h3>
        <h4 class="text-xs">{location}</h4>
    </div>
</div>