---
---
<div class="hero-container mx-5 my-10 p-10 bg-white rounded-md border-4 border-black text-center shadow-lg shadow-black">
    <h1 class="text-8xl font-bold mb-5">Nick Hess</h1>
    <h2 class="text-4xl m-2 text-gray-600">Software Engineer</h2>
    <h2 class="text-4xl m-2 text-gray-600">Musician</h2>
    <h2 class="text-4xl m-2 text-gray-600">Photographer</h2>
</div>