---
const { project } = Astro.props;
---
<div class="project m-5 p-5 rounded-md text-center justify-center border-black border-4 bg-white shadow-black shadow-lg">
    <h1 class="text-xl font-bold mb-2">{project.name}</h1>
    <p class="text-sm text-gray-600">{project.description}</p>
</div>