---
import Heading from "../components/Heading.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;

---
<BaseLayout pageTitle={frontmatter.title}>
    <a href="/blog">
        <Heading title="<- Back"/>
    </a>
    <Heading title={frontmatter.title} />
    <div class="m-5 p-5 border-black border-4 rounded-md shadow-black shadow-lg bg-white prose max-w-none">
        <slot/>
    </div>
</BaseLayout>